<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titulo">
      O Mensageiro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="bg pos">
        <ion-card-header>
          <ion-card-subtitle class="cor-texto">Suas mensagens:</ion-card-subtitle>
          <ion-card-title>Mensagem:</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="cor-texto">
          A Mair liberdade é ser livre de nossa própia mente.
          <ion-card-subtitle class="text-direito cor-texto">Osho</ion-card-subtitle>
        </ion-card-content>        
    </ion-card>



  <!--  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the 
      <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> 
      will be your guide.
    </p>
  </div>-->
</ion-content>
