<ion-header>
  <ion-toolbar>
    <ion-title>
      O Mensageiro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Suas mensagens:</ion-card-subtitle>
          <ion-card-title>Mensagem do dia:</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          A Mair liberdade é ser livre de nossa própia mente.
          <ion-card-subtitle>Osho</ion-card-subtitle>
        </ion-card-content>
        
        
    </ion-card>



  <!--  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the 
      <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> 
      will be your guide.
    </p>
  </div>-->
</ion-content>
